* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
}

div.heading-container {
	width: 100%;
	height: 8vh;
	background-color: #000;
	display: flex;
	align-items: center;
}

div.heading-container h1 {
	margin-left: 5%;	
	font-size: 2rem;
	color: #fff;		
}

div.bookstore {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
div.book-container {
	margin-top: 3rem;
	width: 25%;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
div.book-container img {
	width: 200px;
	height: 300px;
	margin-bottom: 1rem;
}	
div.book-container h1 {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	text-align: center;
}

div.book-container button {
	margin-top: 1.5rem;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-size: 1.2rem;	
	cursor: pointer;
}

div.book-container button:hover {
	background-color: #ccc;
}

div.success {
	margin: 5rem auto;
	width: 80%;
}
div.success h3 {
	margin: 2rem 0;
}

a {
	text-decoration: none;
	color: #fff;
}
.key {
	display: none;
}
